Historical Weather Data Cleaning

# Iterate over the dataframe in steps of 24 and calculate the following for these values:
    # temp_min and temp max - this is a matter of finding the lowest and highest observations
    # wind_speed - average of the whole day
    # rain - average rainfall
    # snow - average snowfall

In [19]:
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
df = pd.read_csv('/Users/frederickjohannson/code/Sweetpatata/bike-or-nei/raw_data/Oslo-historic-weather-data.csv')

In [ ]:
#grouped_single = df.groupby('Team').agg({'Age': ['mean', 'min', 'max']})

In [57]:
df['dt_iso'] = df['dt_iso'].apply(lambda x: x.split(' ')[0])

In [63]:
df_grouped_by_day = pd.DataFrame(df.groupby('dt_iso').agg({'temp_min':'min','temp_max':'max','wind_speed':'mean','rain_1h':'sum','snow_1h':'sum'}))

In [65]:
historic_weather_df = df_grouped_by_day.reset_index()

In [72]:
historic_weather_df = historic_weather_df.rename({'dt_iso':'date', 
                                                  'wind_speed':'wind_speed_avg',
                                                  'rain_1h':'rainfall_total',
                                                  'snow_1h':'snow_total'}, axis=1)

In [73]:
historic_weather_df

,date,temp_min,temp_max,wind_speed_avg,rainfall_total,snow_total
0,2019-04-01,-7.23,8.80,4.087500,0.00,0.0
1,2019-04-02,-2.04,11.21,4.633333,0.00,0.0
2,2019-04-03,-2.79,6.61,4.620833,1.71,0.6
3,2019-04-04,-1.76,15.38,4.389583,0.00,0.0
4,2019-04-05,-1.41,12.05,6.741667,0.39,0.5
...,...,...,...,...,...,...
1305,2022-10-27,5.21,13.72,3.071250,0.10,0.0
1306,2022-10-28,7.69,14.30,2.264583,3.01,0.0
1307,2022-10-29,4.06,16.58,3.171667,0.00,0.0
1308,2022-10-30,0.21,9.83,1.096667,0.19,0.0
1309,2022-10-31,6.02,14.30,2.132917,0.60,0.0